* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

html {
    font-size: 16px !important;
}

body {
    background: #f4f6f9;
    color: #2c3e50;
    line-height: 1.6;
    padding-top: 90px;
}

#about p {
    margin-bottom: 2px;
}

.navbar {
    backdrop-filter: blur(15px);
    background: rgba(44, 62, 80, 0.75) !important;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.nav-link {
    position: relative;
    margin-left: 15px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #00d4ff !important;
}

.nav-link.active {
    color: #00d4ff !important;
    font-weight: 600;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #00d4ff;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #2c3e50;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
	font-weight: 700;
}

.tagline {
    color: #555;
    font-size: 18px;
    margin-top: 5px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
    margin-bottom: 15px;
	font-weight: 700;
	font-size: 25px;
}

h3 {
    font-size: 20px;
	font-weight: 700;
}

.skills span {
    display: inline-block;
    background: #2c3e50;
    color: white;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 20px;
    font-size: 14px;
}

.project {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.contact a {
    text-decoration: none;
    color: #2c3e50;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #777;
}

.contact-links {
    margin-top: 10px;
}

.contact-links a {
    display: inline-block;
    padding: 6px 14px;
    border: 1px solid #2c3e50;
    border-radius: 20px;
    margin: 5px;
    text-decoration: none;
    color: #2c3e50;
    font-size: 14px;
    transition: 0.3s;
}

.contact-links a:hover {
    background:#2c3e50;
    color: white;
}

html {
    scroll-behavior: smooth;
}

#contact {
    padding-bottom: 200px;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #00d4ff;
    transition: 0.3s;
}

.nav-link.active::after {
    width: 100%;
}

#contact {
    min-height: 80vh;
}